<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
</head>
<body>
  <div class="container-fluid">
  <div class="rows">
    <div class="full-table">
      <div class="left-side">
        <h2>Matches</h2>
        <div class="match">
          <h3  class="manchester">Manchester vs Arsenal</h3>
        </div>
      </div>
      <div class="right-side">
        <div class="table">
          <ul class="line">
            <li class="website-title">Website</li>
            <li class="asso-title">1</li>
            <li class="xi-title">X</li>
            <li class="diplo-title">2</li>
          </ul>
          <ul class="dates">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script>

</script>
</body>
</html>
